<%= form_for(@article, remote: :true) do |f|%>
    <%=f.label :title %><br>
    <%=f.text_field :title , class: "form-control title"%><br>
    <%=f.label :content %><br>
    <%=f.text_field :content , class: "form-control content" %>
    <button type="button" class="btn btn-primary"><%=f.submit "Add Post", class: "btn btn-primary" %></button>
  <%end%>